<section class="about section__page">
  <div class="about__container">
    <div class="about__body">
      <div class="about__header">
        <h2 class="about__title _title">About me</h2>
        <p class="about__description _description">Here you will find more information about me, what I do, and my current skills mostly in terms of programming and technology</p>
      </div>
      <div class="about__content">
        <div class="about__text">
          <h3 class="about__subtitle _subtitle">Get to know me!</h3>
          <p>Hi, I'm Karabutova Lina. I'm a Frontend Developer with 2+ years of experience. I am passionate about building accessible, human-centered digital experiences.</p>
          <p >
            I also like sharing content related to the stuff that I have learned over the years in <strong>Web Development</strong> so it can help other people of the Dev
            Community. Feel free to Connect or Follow me on my
            <a rel="noreferrer" href="https://linkedin.com/in/rammcodes" target="_blank">Linkedin</a>
            and
            <a rel="noreferrer" href="https://instagram.com/rammcodes_" target="_blank">Instagram</a>
            where I post useful content related to Web Development and Programming
          </p>
          <button class="about__btn _btn">CONTACT ME</button>
        </div>
        <div class="about__skills skills">
          <h3 class="skills__subtitle _subtitle">My Skills</h3>
          <div class="skills__list">
            <div class="skills__label">HTML</div>
            <div class="skills__label">CSS</div>
            <div class="skills__label">JavaScript</div>
            <div class="skills__label">Vue 2/3</div>
            <div class="skills__label">React</div>
            <div class="skills__label">Sass</div>
            <div class="skills__label">Node</div>
            <div class="skills__label">Nuxt</div>
            <div class="skills__label">Git</div>
            <div class="skills__label">BEM</div>
            <div class="skills__label">Jira</div>
            <div class="skills__label">PostgreSQL</div>
            <div class="skills__label">Nest</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
