<section id="experience" class="experience section__page">
  <div class="experience__container">
    <div class="experience__body">
      <div class="experience__header">
        <h2 class="experience__title _title">My Experience</h2>
        <p class="experience__description _description">
          Here you will find more information about me, what I do, and my current skills mostly in terms of programming and technology
        </p>
      </div>
      <div class="experience__timeline timeline-experience">
        <template id="timeline-experience__template" class="_template">
          <article class="timeline-experience__item">
            <div class="timeline-experience__year year-experience">
              <div class="year-experience__title"></div>
              <div class="year-experience__line"></div>
            </div>
            <div class="timeline-experience__content">
              <div class="timeline-experience__header">
                <div class="timeline-experience__title">
                  <i data-lucide="map-pin"></i>
                  <span></span>
                </div>
                <div class="timeline-experience__dot"></div>
                <div class="timeline-experience__position">
                  <i data-lucide="briefcase-business"></i>
                  <span></span>
                </div>
              </div>

              <div class="timeline-experience__description"></div>
              <div class="timeline-experience__skills"></div>
              <div class="timeline-experience__link">
                <a href="">
                  Visit site
                </a>
              </div>
            </div>
          </article>
        </template>
      </div>
    </div>
  </div>
</section>
