<section class="experience section__page">
  <div class="experience__container">
    <div class="experience__body">
      <div class="experience__header">
        <h2 class="experience__title _title">My Experience</h2>
        <p class="experience__description _description">
          Here you will find more information about me, what I do, and my current skills mostly in terms of programming and technology
        </p>
      </div>
      <div class="experience__timeline timeline-experience">
        <!-- <div class="timeline-experience__item">
          <div class="timeline-experience__year year-experience">
            <div class="year-experience__title">2022 - 2024</div>
            <div class="year-experience__line"></div>
          </div>
          <div class="timeline-experience__content">
            <div class="timeline-experience__header">
              <div class="timeline-experience__title">G-Lab</div>
              <div class="timeline-experience__dot"></div>
              <div class="timeline-experience__position">Junior JavaScript Developer</div>
            </div>

            <div class="timeline-experience__description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Et unde eaque sint vero molestias veniam temporibus dignissimos, rerum a, provident quas? Architecto unde
              doloremque vero dignissimos facilis excepturi expedita exercitationem.
            </div>
            <div class="timeline-experience__skills">
              <div class="timeline-experience__skill">React</div>
              <div class="timeline-experience__skill">Electron</div>
              <div class="timeline-experience__skill">Vue</div>
              <div class="timeline-experience__skill">Nuxt</div>
              <div class="timeline-experience__skill">Tailwind</div>
              <div class="timeline-experience__skill">Vuetify</div>
              <div class="timeline-experience__skill">JQuery</div>
              <div class="timeline-experience__skill">Terminal</div>
            </div>
            <div class="timeline-experience__link">
              <a href="">Visit site</a>
            </div>
          </div>
        </div> -->
        <template id="timeline-experience__template" class="_template">
          <article class="timeline-experience__item">
            <div class="timeline-experience__year year-experience">
              <div class="year-experience__title"></div>
              <div class="year-experience__line"></div>
            </div>
            <div class="timeline-experience__content">
              <div class="timeline-experience__header">
                <div class="timeline-experience__title"></div>
                <div class="timeline-experience__dot"></div>
                <div class="timeline-experience__position"></div>
              </div>

              <div class="timeline-experience__description"></div>
              <div class="timeline-experience__skills">
                <div class="timeline-experience__skill"></div>
                <!-- <div class="timeline-experience__skill">Electron</div>
              <div class="timeline-experience__skill">Vue</div>
              <div class="timeline-experience__skill">Nuxt</div>
              <div class="timeline-experience__skill">Tailwind</div>
              <div class="timeline-experience__skill">Vuetify</div>
              <div class="timeline-experience__skill">JQuery</div>
              <div class="timeline-experience__skill">Terminal</div> -->
              </div>
              <div class="timeline-experience__link">
                <a href="">Visit site</a>
              </div>
            </div>
          </article>
        </template>
      </div>
    </div>
  </div>
</section>
