<section id="projects" class="projects section__page">
  <div class="projects__container">
    <div class="projects__body">
      <div class="projects__header">
        <h2 class="projects__title _title">My Projects</h2>
        <p class="projects__description _description">
          Here you will find some of the personal and clients projects that I created with each project containing its own case study
        </p>
      </div>

      <div class="projects__content">

      </div>
    </div>
  </div>
</section>
