@use 'sass:math';

@import 'base/mixins';

// Підключення шрифтів ===========================================================================================================================================================================================================================================================================

// Підключити, якщо є локальні файли шрифтів
@import 'fonts/fonts';

// Підключення іконкових шрифтів ==============================================================================================================================================================================================================================================================================
// Підключити, якщо є файл іконкового шрифту
// @import "fonts/icons";

$fontFamily: 'Gilroy';
$fontSize: toRem(16); // де 14(px) - розмір шрифту за замовчуванням з макету


$textColor: #000; // Колір шрифту за замовчуванням
$secondaryTextColor: #333;
$grayColor: #666;
$secondaryGrayColor: #aaa;
$primaryColor: #f6a3db;
$bgColor: #f3c9e8;
$secondaryBgColor: #f1daeb;
$accentColor: #8e7dbe;

// Мінімальна ширина сторінки
$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1440;
$containerPadding: 100;
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: toEm($containerWidth); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: toEm(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: toEm(767.98); // Телефони L
$mobileSmall: toEm(479.98); // Телефони S
$responsiveType: 1;

@import 'base/null';
@import 'base/popup';
@import 'libs/tailwind';
@import 'base';
@import 'common';
html {
  scroll-behavior: smooth;
  // @extend %smooth-scroll;
}
body {
  // scrollbar-gutter: stable;
  // Скролл заблоковано
  .lock & {
    overflow: hidden;
    touch-action: none;
    overscroll-behavior: none;
  }
  // Сайт завантажений
  .loaded & {
  }
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  @supports (overflow: clip) {
    overflow: clip;
  }
  // Притискаємо footer
  > main {
    flex: 1 1 auto;
  }
  // Фікс для слайдерів
  > * {
    min-width: 0;
  }
}

@if ($responsiveType==1) {
  // Чуйна
  [class*='__container'] {
    @if ($maxWidthContainer>0) {
      max-width: toRem($containerWidth);
      margin: 0 auto;
    }
    @if ($containerPadding>0) {
      @if ($maxWidthContainer>0) {
        @include adaptiveValue('padding-left', math.div($containerPadding, 2), 15);
        @include adaptiveValue('padding-right', math.div($containerPadding, 2), 15);
      } @else {
        @include adaptiveValue('padding-left', math.div($containerPadding, 2), 15);
        @include adaptiveValue('padding-right', math.div($containerPadding, 2), 15);
      }
    }
  }
} @else {
  [class*='__container'] {
    margin: 0 auto;
    @if ($maxWidthContainer>0) {
      max-width: toRem($containerWidth);
    } @else {
      @if ($containerPadding>0) {
        padding: 0 toRem(math.div($containerPadding, 2));
      }
    }
    @media (max-width: $pc) {
      max-width: toRem(970);
    }
    @media (max-width: $tablet) {
      max-width: toRem(750);
    }
    @media (max-width: $mobile) {
      max-width: none;
      @if ($containerPadding>0 and $maxWidthContainer>0) {
        padding: 0 toRem(math.div($containerPadding, 2));
      }
    }
  }
}


@import 'header';
@import 'footer';
@import 'home';
@import 'components/hero';
@import 'components/about';
@import 'components/experience';
@import 'components/projects';
@import 'components/contact';
